<app-navbar></app-navbar>

<div class="book-detail" *ngIf="book; else loading">
  <h2>{{ book.title }}</h2>
  <p><strong>Описание:</strong> {{ book.description }}</p>
  <p><strong>Цена:</strong> {{ book.price }}₸</p>
  <p><strong>Жанр:</strong> {{ book.genre }}</p>
  <p><strong>Издательство:</strong> {{ book.publisher }}</p>
  <p><strong>Возраст:</strong> {{ book.age_limit }}</p>
  <button (click)="addToCart()">Добавить в корзину</button>
</div>

<ng-template #loading>
  <div class="book-loading">
    <p>Загрузка...</p>
  </div>
</ng-template>
